{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    {% for i in my_contact_lists %}
                    <li class="clearfix active ProfileData")>
                        <img src={{i.photo.url}} alt="avatar">
                        <div class="about">
                            <div class="name">{{i.name}}</div>
                            {% if i.status == "online" %}
                            <div class="status"> <i class="fa fa-circle online"></i> {{i.status}} </div>
                            {% else %}
                            <div class="status"> <i class="fa fa-circle offline"></i> {{i.status}} </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info" id="ProfileImage">
                                <img src="{{first_obj.photo.url}}" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">{{first_obj.name}}</h6>
                                <small>{{first_obj.status}}</small>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0">
                        <li class="clearfix">
                            <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>                               
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-send"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter text here...">                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>  
{% endblock %}
{% block js_script %}
<script>

document.addEventListener("DOMContentLoaded", function() {
    var profileDataItems = document.querySelectorAll(".ProfileData");
    var ChatBox = document.getElementsByClassName("chat-about")[0];
    var ProfileImg = document.getElementById("ProfileImage");
    var ProfileImgsrc = ProfileImg.getElementsByTagName("img")[0]
    profileDataItems.forEach(function(item) {
        item.addEventListener('click', function() {
                myfuncdata()
                var name = item.getElementsByClassName("name")[0].textContent
                var status = item.getElementsByClassName("status")[0].textContent
                var image = item.getElementsByTagName("img")[0].getAttribute('src')
                ChatBox.innerHTML = `<h6 class="m-b-0">${name}</h6><small>${status}</small>`
                ProfileImgsrc.src = image
            });
    });
});
</script>
{% endblock %}
