{% extends 'base.html' %}
{% load static %}
{% block title %} Chat {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}

{% block content %}
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    {% for i in my_contact_lists %}
                    <li class="clearfix active ProfileData")>
                        {% if i.photo %}
                        <img src={{i.photo.url}} alt="avatar">
                        {% else %}
                        <img src={{i.photo}} alt="avatar">
                        {% endif %}
                        <div class="about">
                            <div class="name">{{i.username}}</div>
                            {% if i.status == "online" %}
                            <div class="status"> <i class="fa fa-circle online"></i> {{i.status}} </div>
                            {% else %}
                            <div class="status"> <i class="fa fa-circle offline"></i> {{i.status}} </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info" id="ProfileImage">
                                {% if first_obj.photo %}
                                <img src="{{first_obj.photo.url}}" alt="avatar">
                                 {% else %}
                                <img src={{first_obj.photo}} alt="avatar">
                                {% endif %}
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">{{first_obj.username}}</h6>
                                <small>{{first_obj.status}}</small>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0" id="ChatBoxMessage">
                            {% comment %} <li class="clearfix">
                                <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                            </li>
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">10:12 AM, Today</span>
                                </div>
                                <div class="message my-message">Are we meeting today?</div>                                    
                            </li>                                {% endcomment %}
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-send" id="send-btn"></i></span>
                        </div>
                        <input type="text" id="textMessage" class="form-control" placeholder="Enter text here...">                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>  
{% endblock %}
{% block js_script %}
<script>
function callAjax(receiver_name){
    var sender_name = "{{ request.user.username }}";
    var data = { "sender_name": sender_name, "receiver_name": receiver_name };
    $.ajax({
        type: "GET",
        url: '{% url "create_room" %}',
        data: data,
        success: function(response) {   
            sessionStorage.setItem("room_id",response['token'])
        },
        error: function(xhr, status, error) {
            console.error("Error:", error);
        }
    });
}
document.addEventListener("DOMContentLoaded", function() {
    var profileDataItems = document.querySelectorAll(".ProfileData");
    var ChatBox = document.getElementsByClassName("chat-about")[0];
    var ProfileImg = document.getElementById("ProfileImage");
    var ProfileImgsrc = ProfileImg.getElementsByTagName("img")[0]
    profileDataItems.forEach(function(item) {
    item.addEventListener('click', function() {
            var name = item.getElementsByClassName("name")[0].textContent
            callAjax(name)            
            var status = item.getElementsByClassName("status")[0].textContent
            var image = item.getElementsByTagName("img")[0].getAttribute('src')
            ChatBox.innerHTML = `<h6 class="m-b-0">${name}</h6><small>${status}</small>`
            ProfileImgsrc.src = image
        });
    });
});
{% comment %} var roomName = sessionStorage['room_id'] {% endcomment %}
var roomName = sessionStorage['room_id'];
const chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
);
    console.log(chatSocket, "::::::::::::::::::::socket")

    // on socket open
    chatSocket.onopen = function (e) {
        console.log('Chat socket successfully connected.');
    };

    // on socket close
    chatSocket.onclose = function (e) {
        console.log('Chat socket closed unexpectedly');
    };

    chatSocket.onmessage = function(e) {
        console.log(e, "__________________E")
        const data = JSON.parse(e.data);
        const message = data.message;
        setMessage(message);
    };
    document.querySelector('#send-btn').onclick = function(e) {
            const messageInputDom = document.querySelector('#textMessage');
            const message = messageInputDom.value;
            const user = "{{request.user.username}}"
            const room_id = sessionStorage['room_id']
            chatSocket.send(JSON.stringify({
                message, user, room_id
            }));
            
            messageInputDom.value = '';
    };
    function setMessage(message){
        var chat_message = document.getElementById("ChatBoxMessage")
        const li = document.createElement("li");
        li.classList.add("clearfix")
        li.innerHTML = `<div class='message other-message float-right'>${message}</div>`
        chat_message.appendChild(li);
    }
</script>
{% endblock %}
