{% load static %}
{% block title %} Login {% endblock %}

<!--Stylesheet-->
{% block css %}
<link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}

{% block content %}
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form action="" method="post">
        {% csrf_token %}
    <h3>Signup Here</h3>
    <br>
    {% if message %}
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">error!</strong>
        <small>..{{message}}</small>
    </div>
    </div>
    {% endif %}

    <label for="username" >Username</label>
    <input type="text" name="username" placeholder="username" id="username">

    <label for="password">Password</label>
    <input type="password"  name="password" placeholder="Password" id="password">

    <label for="password" >Confirm Password</label>
    <input type="password" name="confirm_password" placeholder="Password" id="password">


    <button>Signup</button>
    <br>
    <span>Already Register??.....</span>
    <a class="btn btn-primary" href="/auth/login">Login</a>
    
</form>

{% endblock %}